.app-grid{
  display: grid;
  column-gap: 16px;
  row-gap: 25px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.app-header-logo {
  height: 50px;
}

.Eventname {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

